
	<nav class="navbar navbar-default" style="margin-top: -20px;">
      <div class="panel panel-default" style="margin-bottom: 0px;">
	  <div class="panel-body">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-sm-2">
	    			<div style="font-size:20px">Search For:</div>
	    		</div>
	    		<div class="col-sm-6">
	    			<div class="form-group col-sm-12" style="margin-bottom: 0px;">
					  <input  style="background-color: #f0f0f0"type="text" class="form-control" placeholder="Enter keyword(s)/Search term here" aria-describedby="sizing-addon2">
					</div>
	    		</div>
	    		<div class="col-sm-1">
	    			<button class="btn btn-primary">Search</button>
	    		</div>
	    		<div class="col-sm-2">
	    			<a class="btn btn-danger"> Advanced Search</a>
	    		</div>
	    	</div>
	  </div>
	  </div>
	</div>
    </nav>
    <div class="container">
    	<div class="row">
    		<div class="col-sm-8">
    			<div class="panel panel-default" style="background-color:White;height: 200px;">
				  <div class="panel-body">
				    <h2 style="text-align:center;font-weight: bold;color:#62958e">Welcome to DIB</h2>
				    <div class="col-sm-12" style="text-align: center;margin-bottom:20px;">
				    Alh shdgfu gdsf hdgfys v7tsgf  sgf7gsf bdyfgysfd
				    </div>
				    <div class="col-sm-12" style="text-align: center;">
				    		<button class="btn" style="background-color:#528b85;color:white">Read More</button>
				    	</div>
				  </div>
				</div>
    		</div>
    		<div class="col-sm-4" >
    			<div class="panel panel-default"  style="color:white;background-color:#62b9b0;height: 200px;">
				  <div class="panel-body">
				    <h2 style="text-align:center;font-weight: bold;">Sign Up</h2>
				    <p>
				    	Register an account to subscribe to collections for email updates, and submit new items to DIB
				    	
				    </p>
				    <div class="row" >
				    	<div class="col-sm-6" >
				    		<button class="btn" style="background-color:#528b85;color:white">Sign Up</button>
				    	</div>
				    	<div class="col-sm-6" >
				    		<button class="btn btn-danger">Login</button>
				    	</div>
				    </div>
				  </div>
				</div>
    		</div>
    	</div>
    </div>
    <nav class="navbar navbar-inverse navbar-bottom2" style="margin-bottom:20px;background-color:white;padding:0 0 0 0;color:#538a85;">
        <div class="container">
            <div class="row">
                <h2 id='footer-header' style="text-align:center;font-weight: bold;">CORE ISSUES</h2>
            </div>
        </div>
    </nav>
    <div class="container">
	
	<div class="row artifacts">
		<div class="col-sm-3">
			<div class="panel panel-default">
			  <div class="panel-body" style="background-image:url(assets/img/artifact1.png);">
			    
			  </div>
			  <div class="panel-footer">Corruption</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="panel panel-default">
			  <div class="panel-body" style="background-image:url(assets/img/artifact1.png);">
			    
			  </div>
			  <div class="panel-footer">Corruption</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="panel panel-default">
			  <div class="panel-body" style="background-image:url(assets/img/artifact1.png);">
			    
			  </div>
			  <div class="panel-footer">Corruption</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="panel panel-default">
			  <div class="panel-body" style="background-image:url(assets/img/artifact1.png);">
			    
			  </div>
			  <div class="panel-footer">Corruption</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="panel panel-default">
			  <div class="panel-body" style="background-image:url(assets/img/artifact1.png);">
			    
			  </div>
			  <div class="panel-footer">Corruption</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="panel panel-default">
			  <div class="panel-body" style="background-image:url(assets/img/artifact1.png);">
			    
			  </div>
			  <div class="panel-footer">Corruption</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="panel panel-default">
			  <div class="panel-body" style="background-image:url(assets/img/artifact1.png);">
			    
			  </div>
			  <div class="panel-footer">Corruption</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="panel panel-default">
			  <div class="panel-body" style="background-image:url(assets/img/artifact1.png);">
			    
			  </div>
			  <div class="panel-footer">Corruption</div>
			</div>
		</div>
	</div>
    </div> <!-- /container -->

	<nav class="navbar navbar-inverse navbar-bottom2" style="padding:0 0 20px 0;">
        <div class="container">
            <div class="row">
                <h2 id='footer-header'>Recently Added</h2>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-inverse navbar-bottom" style="padding:10px 0 10px 0;background-color:white;margin-top:0px">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                	<h4 class="footer-h1">Clove Advocacy Report</h4>
                	<h5 class="footer-h2">Juma, A.J, Mkonde.A, Ngazy.Z (2010 JUL) | ZAPCO</h5>
                	<p  class="footer-content">
                	Cloves have been one of the major foreign fsdf
                	</p>
                	<div  class="footer-more">Read More...</div>
                </div>
                <div class="col-sm-6">
                	<h4 class="footer-h1">Clove Advocacy Report</h4>
                	<h5 class="footer-h2">Juma, A.J, Mkonde.A, Ngazy.Z (2010 JUL) | ZAPCO</h5>
                	<p  class="footer-content">
                	Cloves have been one of the major foreign fsdf
                	</p>
                	<div  class="footer-more">Read More...</div>
                </div>
                <div class="col-sm-6">
                	<h4 class="footer-h1">Clove Advocacy Report</h4>
                	<h5 class="footer-h2">Juma, A.J, Mkonde.A, Ngazy.Z (2010 JUL) | ZAPCO</h5>
                	<p  class="footer-content">
                	Cloves have been one of the major foreign fsdf
                	</p>
                	<div  class="footer-more">Read More...</div>
                </div>
                <div class="col-sm-6">
                	<h4 class="footer-h1">Clove Advocacy Report</h4>
                	<h5 class="footer-h2">Juma, A.J, Mkonde.A, Ngazy.Z (2010 JUL) | ZAPCO</h5>
                	<p  class="footer-content">
                	Cloves have been one of the major foreign fsdf
                	</p>
                	<div  class="footer-more">Read More...</div>
                </div>
            </div>
        </div>
    </nav>
    