

    <div class="container">

	<div class="panel panel-default">
	  <div class="panel-body">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-sm-2">
	    			<div style="font-size:20px">Search For:</div>
	    		</div>
	    		<div class="col-sm-6">
	    			<div class="form-group col-sm-12" style="margin-bottom: 0px;">
					  <input  style="background-color: #f0f0f0"type="text" class="form-control" placeholder="Enter keyword(s)/Search term here" aria-describedby="sizing-addon2">
					</div>
	    		</div>
	    		<div class="col-sm-1">
	    			<button class="btn btn-primary">Search</button>
	    		</div>
	    		<div class="col-sm-2">
	    			<a class="btn btn-danger"> Advanced Search</a>
	    		</div>
	    	</div>
	  </div>
	  </div>
	</div>
      
	<div class="panel panel-default">
	  <div class="panel-body">
	    Home > Upload Document
	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading" style="background-color:white;color:#76c7c0">
	  	<h4>Panel heading</h4>
	  </div>
	  <div class="panel-body">
	    <div class="row">
	    	<div class="col-sm-6">
	    	
	    	</div>
	    	<div class="col-sm-6">
	    		<div class="panel panel-default">
				  <div class="panel-heading" style="background-color:#76c7c0">Panel heading without title</div>
				  <div class="panel-body">
				    Panel content
				  </div>
				</div>
				<div class="panel panel-default">
				  <div class="panel-heading" style="background-color:#76c7c0">Panel heading without title</div>
				  <div class="panel-body">
				    Panel content
				  </div>
				</div>
	    	</div>
	    </div>
	  </div>
	</div>
    </div> <!-- /container -->

<nav class="navbar navbar-inverse navbar-bottom" style="padding:0 0 120px 0;">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3 id='footer-header'> <b>DIB</b> <i>WebPortal</i> </h3>
                    <p>
                    	Losaygfu yfsauysd hjsgdfd hjdsgfyudsf yusdgf dyfgsydbf dfyusa f7ggyshf ygdfudf
                    </p>
                    <br />
                    <p>
                    Phone: 18 2569 5896 <br />
                    E-mail: info@dib.org
                    </p>
                </div>
                <div class="col-sm-2">
                    <h3 id='footer-header'>Company</h3>
                    <ul>
                    	<li>About</li>
                    	<li>FAQ</li>
                    	<li>Contact</li>
                    	<li>Terms</li>
                    	<li>Privacy</li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h3 id='footer-header'>Community</h3>
                     <ul>
                    	<li>Blog</li>
                    	<li>Forum</li>
                    	<li>Support</li>
                    	<li>Newsletter</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h3 id='footer-header'> <i>Our Partners</i></h3>
                    <div class="row">
                    	<div class="col-sm-3">
                    		<img src="dsfdf" width="80px"  height="80px"/>
                    	</div>
                    	<div class="col-sm-9">
                    		Lorem ipsum dorohjbasjd asvdas hgavsu gcvyua sf
                    		<br />
                    		<span style="color:#497d78">26 May, 2013</span>
                    	</div>
                    </div>
                    <div class="row">
                    	<div class="col-sm-3">
                    		<img src="dsfdf" width="80px"  height="80px"/>
                    	</div>
                    	<div class="col-sm-9">
                    		Lorem ipsum dorohjbasjd asvdas hgavsu gcvyua sf
                    		<br />
                    		<span style="color:#497d78">26 May, 2013</span>
                    	</div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery/jquery.min.js"></script>
    <script src="assets/css/bootstrap/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>

<!-- Mirrored from getbootstrap.com/examples/navbar-fixed-top/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 04 Oct 2015 12:44:14 GMT -->
</html>
